.homeContainer {
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: white;
  display: flex;
  gap: 30px;
}

.image {
  height: 21rem;
  border-radius: 50%;
  opacity: 0.9;
  transform: rotate(10deg);
}

@media (max-width: 576px) {
  .image {
    height: 15rem;
  }

  .homeContainer {
    display: flex;
    flex-direction: column;
  }

  .right {
    margin: auto;
  }
}
