.navContainer {
  display: flex;
  justify-content: center;
  top: 10%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: white;
  gap: 30px;
}
@media (max-width: 576px) {
  .navContainer {
    gap: 1px;
  }
  .title {
    background-color: rgb(231, 220, 220);
    margin-left: 1px;
  }
}

.title {
  color: rgb(255, 239, 239);
  font-size: 1.2rem;
}

.noUnderline {
  text-decoration: none;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 2em;
}
