.navContainer {
  display: flex;
  justify-content: center;
  top: 10%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: white;
}

.title {
  color: rgb(255, 239, 239);
  font-size: 1.5rem;
}

.title :hover {
  transition: ease-in-out all 0.4s;
  -moz-transition: ease-in-out all 0.4s;
  -webkit-transition: ease-in-out all 0.4s;
  background-color: #000000;
  color: #6b6b6b;
  text-decoration: none;
  font-weight: bold;
}

.noUnderline {
  text-decoration: none;
}

ul {
  list-style-type: none;
  display: flex;
  /* gap: 2em; */
}

@media (max-width: 576px) {
  .navContainer {
    gap: 0.5px;
  }
  .title {
    font-size: 1rem;
    width: 5rem;
  }
}
