.playlistContainer {
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: white;
}

.description {
  margin-top: -1rem;
  margin-bottom: 2rem;
}

.playlist {
  display: flex;
  justify-content: center;
}

@media (max-width: 576px) {
  .description {
    text-align: center;
    margin: -1rem 0 2rem 1rem;
  }
}
