.projectsContainer {
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardContainer {
  display: flex;
}

.card {
  position: relative;
  width: 20rem;
  height: 26rem;
  margin: 30px;
  box-shadow: 20px 20px 50px rgb(0, 0, 0, 0.5);
  border-radius: 15px;
  background-color: rgba(250, 250, 250, 0.356);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.description {
  text-align: center;
}
.linksContainer {
  display: flex;
  gap: 2rem;
}
/* .links {
  text-decoration: none !important;
  color: rgb(255, 255, 255);
} */
a {
  text-decoration: none !important;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.377);
  margin: 0.6rem;
  border-radius: 10%;
  padding: 00.5rem;
}

@media (max-width: 576px) {
  .projectsContainer {
    display: flex;
    flex-direction: column;
  }
  .cardContainer {
    height: 75vh;
  }

  .card {
    height: 18rem;
    margin: 0.4rem;
  }

  .icon {
    height: 3rem;
  }
  p {
    font-size: 0.6rem;
  }
}
